#travel {
    // background-color: aquamarine;
  
    .recCity {
        .title {
            margin-bottom: 0rem;
        }
        width: 100%;
        padding-top: 3rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 6rem  0;


        
         .recCityContents {
            display: flex;
            align-items: center;
            align-self: center;
            padding: 2rem 0;
            .recCityBox {
                width: 20rem;
                height: 20rem;
                margin-right: 1rem;
                overflow: hidden;
                position: relative;
                margin: 0 1.5rem;
                border: $border;
                border-radius: $border-radius;
                img{
                    width: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
                .recCityDef {
                    width: 80%;
                    position: absolute;
                    bottom: 0rem;
                    left: 50%;
                    transform: translate(-50%,0%);
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    background-color: rgba(255,255,255,.95);
                    padding: 1.5rem 3rem;
                    h2 {
                        font-size: .8rem;
                        margin-bottom: .5rem;
                        color: $alphaBlack;
                    }
                    h1 {
                        font-size: 1.5rem;
                        margin-bottom: 1rem;
                        font-weight: 800;

                    }
                    p {
                        line-height: 1.5;
                        font-size: 1rem;
                        width: 90%;
                    }
                }
            }
            
            .big{
                width: 25rem;
                height: 25rem;
                filter: grayscale(0);
                z-index: 1;
            }     
         }
         .recCityBtn {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 55%;
            z-index: 98;
         }
         .prevBtn, .nextBtn {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            background-color: #eee;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $alphaBlack;
            box-shadow: $box-shadow;
            // position: absolute; 
            cursor: pointer;
            margin: 0 12rem;
         }
        //  .prevBtn {
        //     top:60%;
        //     left: 31rem;
        //     transform: translate(0%,-50%);    
        //     z-index: 2;        
        //  }
        //  .nextBtn {
        //     top:60%;
        //     right: 31rem;
        //     transform: translate(0%,-50%);    
        //     z-index: 2;    
        //  }
    }
    .recVideo {
        height: 28rem;
        position: relative;
        overflow: hidden;
        padding: 2rem 0;
        margin: 6rem  0;
        .revVideoList {
            display: grid;
            grid-template-columns: repeat(3,32%);
            column-gap: 2%;
            row-gap: 6rem;
            .video-mixin {
                .video-mixin__thumb {
                    width: 100%;
                    height: 15rem;
                    border-radius: 1rem;
                    margin-bottom: 1rem;
                }
                .video-mixin__data {
                    display: flex;
                    flex-direction: column;
                    .video-mixin__title  {
                        display: block;
                        font-size: 1.2rem;
                        font-weight: 800;
                        white-space:nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        margin-bottom: 1rem;
                        line-height: 2rem;
                        
                    }
                    .video-mixin__dec{
                        color: &alphaBlack;
                        font-size: 1rem;
                        display: block;
                        white-space:nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        margin-bottom: .6rem;
                    }
                    .video-mixin__meta {
                        color: $alphaBlack;
                        font-size: 1rem;

                    }
                   
                }
            }
           
        }
        button {
            position: absolute;
            width: 25%;
            height: 3rem;
            border: $border;
            bottom: 0%;
            left: 50%;
            transform: translate(-50%,0);
            font-size: 1rem;
            line-height: 1rem;
            background-color: transparent;
            cursor: pointer;
        }
    }
    .userTravel {
        margin: 6rem  0;

        .userTravel-list {
            display: grid;
            grid-template-columns: repeat(4,21.5rem);
            column-gap: 2%;
            .userTravel-component {
                display: flex;
                flex-direction: column;
                border: $border;
                border-radius: $border-radius;
                cursor: pointer;
            }
            .userTravel-img{
                width: 100%;
                height: 14rem;
                overflow: hidden;
                position: relative;
                border-radius: 1rem 1rem 0 0;

                img {
                    width: 100%;
                    position: absolute;
                    top:50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    object-fit: cover;
                }
            }
            .userTravel-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 1rem 2rem;
                small {
                    font-size: 1rem;
                    color: $alphaBlack;
                    margin-bottom: 1rem;
                }
                h1 {
                    font-size: 1.2rem;
                    line-height: 1.5;
                    margin-bottom: 1rem;
                }
                .userTravel-meta {
                    font-size: 1rem;
                    color: gray;
                    display: flex;
                    span {
                        width: 45%;
                        i {
                            margin-right: .5rem;
                        }
                    }
                }
            }
        }
        .userTravel-component:hover img {
                transform: translate(-50%,-50%) scale(1.1);
                transition: transform .4s ease-in-out;
        }
    }
   
}


.imgTextHidden {
    opacity: .5;
    height: 3rem;
    p{
        visibility: hidden;
    }  
}

