#travel {
    margin-top: 5rem;
    // background-color: aquamarine;
    .title {
        font-size: 1.3rem;
        font-weight: 800;
        margin-bottom: 1rem;
     }
    .recCity {
        width: 100%;
        // background-color: tomato;
        padding-top: 3rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        position: relative;
        
         .recCityContents {
            width: 120%;
            display: flex;
            align-items: center;
            align-self: center;
            padding: 2rem 0;
            .recCityBox {
                width: 18%;
                height: 20rem;
                margin-right: 1rem;
                overflow: hidden;
                position: relative;
                margin: 0 1.5rem;
                filter: grayscale(1);
                filter: brightness(.2);
                border-radius: 1.2rem;
                img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
                .recCityDef {
                    width: 80%;
                    position: absolute;
                    bottom: 0rem;
                    left: 50%;
                    transform: translate(-50%,0%);
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    background-color: rgba(255,255,255,.95);
                    padding: 1.5rem 3rem;
                    h2 {
                        font-size: .8rem;
                        margin-bottom: .5rem;
                        color: $alphaBlack;
                    }
                    h1 {
                        font-size: 1.5rem;
                        margin-bottom: 1rem;
                        font-weight: 800;

                    }
                    p {
                        line-height: 1.5;
                        font-size: 1rem;
                        width: 90%;
                    }
                }
            }
            
          
            .big{
                width: 23%;
                height: 25rem;
                filter: grayscale(0);
                z-index: 1;
                box-shadow: 1px 1px 5px $alphaBlack;
            }
        
         

         }
         .prevBtn, .nextBtn {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            background-color: $main;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $white;
            box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
            position: absolute; 
         }
         .prevBtn {
            top:60%;
            left: 33%;
            transform: translate(0%,-50%);    
            z-index: 2;        
         }
         .nextBtn {
            top:60%;
            right: 33%;
            transform: translate(0%,-50%);    
            z-index: 2;    
         }
    }
    .recVideo {
        height: 27rem;
        position: relative;
        overflow: hidden;
        padding: 2rem 0;
        margin-bottom: 1rem;
        .revVideoList {
            display: grid;
            grid-template-columns: repeat(3,32%);
            column-gap: 2%;
            row-gap: 6rem;
            .video-mixin {
                .video-mixin__thumb {
                    width: 100%;
                    height: 15rem;
                    border-radius: 1rem;
                    margin-bottom: 1rem;
                }
                .video-mixin__data {
                    display: flex;
                    flex-direction: column;
                    .video-mixin__title  {
                        display: block;
                        font-size: 1.2rem;
                        font-weight: 800;
                        white-space:nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        margin-bottom: 1rem;
                        line-height: 2rem;
                        
                    }
                    .video-mixin__dec{
                        color: &alphaBlack;
                        font-size: 1rem;
                        display: block;
                        white-space:nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        margin-bottom: .5rem;
                    }
                    .video-mixin__meta {
                        display: flex;
                        justify-content: space-between;
                        color: $alphaBlack;
                        font-size: 1rem;

                    }
                   
                }
            }
           
        }
        button {
            position: absolute;
            width: 25%;
            height: 3rem;
            border: 1px solid $black;
            bottom: 0%;
            left: 50%;
            transform: translate(-50%,0);
            font-size: 1rem;
            line-height: 1rem;
            background-color: transparent;
            box-shadow: 1px 1px 5px $alphaBlack;
            cursor: pointer;
        }
    }
}


.imgTextHidden {
    opacity: .5;
    height: 3rem;
    p{
        visibility: hidden;
    }  
}

