@import "./config/variables.scss";
@import "./config/reset.scss";


// components 
@import "./components/header.scss";
@import "./components/mainBanner.scss";

body {
 max-width: 1440px;
 background-color: $white;
 margin: 0 auto;
 color: $black;
 font-size: 17px;
}


