

@import "./config/variables.scss";
@import "./config/reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200;400;800&display=swap');

// components 
@import "./components/header.scss";
@import "./components/mainBanner.scss";

body {
 max-width: 1440px;
 background-color: $white;
 margin: 0 auto;
 color: $black;
 font-size: 17px;
 font-family: 'Gothic A1', sans-serif;
 font-weight: 400;
}

.fontWhite {
    color:$white;

}
//폰트는 200(Light), 400(noaml), 800(bold) 


