#header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 98;
    height: 5rem;
    background-color: white;

#headerBox {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    width: 100%;
    #logo {
        width: 15%;
        text-align: start;
        img {
            width: 7rem;
        }
    }
    #nav {
        width: 55%;
        justify-content: start;
        ul {
            display: flex;
            li {
                text-align: center;
                position: relative;
                margin-right: 2rem;
                a{
                    display: block;
                    position: relative;
                    padding: 1rem 0;

                }
                
            }
            a:hover  {
                .underline {
                width: 0%;
                border-bottom: 1px solid black;
                animation: underline .3s ease-in-out forwards;
                margin-bottom: 1rem;
                position: absolute;
                top:70%;
                left: 0;
             }           }
        }
    }
    #user {
        width: 30%;
        ul {
            display: flex;
            justify-content: end;
            li {
                a{
                    padding: 1rem 2rem;
                }
                
            }
            li:last-child a{
                background-color: $main;
                color:$white;
                font-weight: bold;
                border-radius: 2rem;

            }
            li:last-child a:hover{
                transition: all .2s ease-in-out;
                background-color: $white;
                color: $main;

            }
        }
    }

}
}
@keyframes underline {
    0% {
width: 0;
    }
    100% {
width: 100%;    }
}