#header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    max-width: 1440px;
    width: calc(100% - 4rem);
    z-index: 98;
    height: 5rem;
    background-color: white;
    #logo {
        width: 10%;
        text-align: start;
        img {
            width: 7rem;
        }
    }
    #nav {
        width: 50%;
        justify-content: start;
        ul {
            display: flex;
            li {
                text-align: center;
                position: relative;
                a{
                    display: block;
                    position: relative;
                    padding: 1rem 0;
                    margin: 2rem;

                }
                
            }
            a:hover  {
                .underline {
                width: 0%;
                border-bottom: 1px solid black;
                animation: underline .3s ease-in-out forwards;
                margin-bottom: 1rem;
                position: absolute;
                top:70%;
                left: 0;
             }           }
        }
    }
    #user {
        width: 40%;
        ul {
            display: flex;
            justify-content: end;
            li {
                a{
                    padding: 1rem 2rem;
                    margin: 1rem;
                }
                
            }
            li:last-child a{
                background-color: $main;
                color:$white;
                font-weight: bold;
                border-radius: 2rem;

            }
            li:last-child a:hover{
                transition: all .2s ease-in-out;
                background-color: $white;
                color: $main;

            }
        }
    }

}

@keyframes underline {
    0% {
width: 0;
    }
    100% {
width: 100%;    }
}