extends base
block contents
    div.mainBanner
        div.mainBanner__contents
            img(src="https://server.movingtail.com/minwoo/project2_traveling/img/mainBanner1.jpg")
            div.mainBanner__text
                small 지금아니면 못감
                h1 Working Holiday
                h2 - 워킹홀리데이 설명회 -
        div.mainBanner__contents    
            img(src="https://server.movingtail.com/minwoo/project2_traveling/img/mainBanner2.png")
            div.mainBanner__text.fontWhite
                small 자연에서의 힐링
                h1 북섬, 대자연의 온천
                h2 - 온천 투어 여행 -    
        div.mainBanner__contents    
            img(src="https://server.movingtail.com/minwoo/project2_traveling/img/mainBanner3.png")
            div.mainBanner__text
                small 세계 최고 높이
                h1 아찔한 번지점프
                h2 - 뉴질랜드 레저 -    
        div.prevBtn
          i.fa-solid.fa-angle-left
        div.nextBtn
            i.fa-solid.fa-angle-right
        div.bannerNav
            div.circle
            div.circle
            div.circle        
    div.travel-recCity
        include partials/city.pug
    div.advertisement
        include partials/ad.pug
    div.together-product
        include partials/product.pug
    div.working-tip
        include partials/workingtip

block script
    script(src="/static/js/main.js")
    script(src="/static/js/city.js")
    script(src="/static/js/together.js")
