extends base
block contents
    div.mainBanner
        div.mainBanner__contents
            img(src="/img/mainBanner1.jpg")
            div.mainBanner__text
                small 지금아니면 못감
                h1 Working Holiday
                h2 - 워킹홀리데이 설명회 -
        div.mainBanner__contents    
            img(src="/img/mainBanner2.jpg")
            div.mainBanner__text
                small 자연에서의 힐링
                h1 북섬, 대자연의 온천
                h2 - 온천 투어 여행 -    
        div.prevBtn
          i.fa-solid.fa-angle-left
        div.nextBtn
            i.fa-solid.fa-angle-right
        div.bannerNav
            div
            div
            div
            div