extends base
block contents
    div#join
        if errorMessage
            span=errorMessage
        h1.title 회원가입
        p kiaora 계정을 만들고 뉴질랜드에서 다양한 경험을 체험하세요.
        form(method="POST")
            input(type="email" name="email" placeholder="이메일" required)
            input(type="password" name="password" placeholder="비밀번호" required)
            input(type="password" name="confirmPassword" placeholder="비밀번호 확인" required)
            input(type="submit" value="완료")
block script
    script(src="/static/js/join.js")