extends base
block contents 
    input(type="text" name="name" placeholder="Name")
    input(type="text" name="username" placeholder="Username")
    input(type="password" name="password" placeholder="Password")
    input(type="password" name="confirmPassword" placeholder="Confirm Password")
    input(type="submit" value="Join")
