extends base
block contents
    div#islandTour
        div#noth
            div.islandImg
                img(src="https://images.unsplash.com/photo-1530273023403-91b05e7eec49?q=80&w=3570&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
            div.inslandText
                h1 북섬 투어
        div#south
            div.islandImg
                img(src="https://images.unsplash.com/photo-1466971060667-16467c7d04ee?q=80&w=3726&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
            div.inslandText 
                h1 남섬 투어
    include partials/product.pug
block script
    script(src="/static/js/together.js")