extends base
block contents
    div.travel
        div.recCity
            h1.title 추천 도시
            div.recCityContents
                div.recCityBox
                    img(src="https://i.namu.wiki/i/P790OUVpJuqrzpxJMlLwE1aZxx6I8X5Tj2HnBNSWSQ7RontGhWFWjtoa8SCUcyDCMHDPfdEwE6InmtZg3AczPCVFFoGnAyteAEEAu4sLQssNtnaV_DhREbuByK0mnYstPiFY3U8msz2EC8uWpLbKmA.webp")
                    div.recCityDef
                        h2 익스트림 스포츠의 성지
                        h1 퀸즈타운
                div.recCityBox
                    img(src="https://i.namu.wiki/i/P790OUVpJuqrzpxJMlLwE1aZxx6I8X5Tj2HnBNSWSQ7RontGhWFWjtoa8SCUcyDCMHDPfdEwE6InmtZg3AczPCVFFoGnAyteAEEAu4sLQssNtnaV_DhREbuByK0mnYstPiFY3U8msz2EC8uWpLbKmA.webp")
                    div.recCityDef
                        h2 남섬의 관문
                        h1 크라이스트 처치
                div.recCityBox.big
                    img(src="https://i.namu.wiki/i/P790OUVpJuqrzpxJMlLwE1aZxx6I8X5Tj2HnBNSWSQ7RontGhWFWjtoa8SCUcyDCMHDPfdEwE6InmtZg3AczPCVFFoGnAyteAEEAu4sLQssNtnaV_DhREbuByK0mnYstPiFY3U8msz2EC8uWpLbKmA.webp")
                    div.recCityDef
                        h2 최대의 도시
                        h1 오클랜드
                div.recCityBox
                    img(src="https://i.namu.wiki/i/P790OUVpJuqrzpxJMlLwE1aZxx6I8X5Tj2HnBNSWSQ7RontGhWFWjtoa8SCUcyDCMHDPfdEwE6InmtZg3AczPCVFFoGnAyteAEEAu4sLQssNtnaV_DhREbuByK0mnYstPiFY3U8msz2EC8uWpLbKmA.webp")
                    div.recCityDef
                        h2 뉴질랜드의 수도
                        h1 웰링턴
                div.recCityBox
                    img(src="https://i.namu.wiki/i/P790OUVpJuqrzpxJMlLwE1aZxx6I8X5Tj2HnBNSWSQ7RontGhWFWjtoa8SCUcyDCMHDPfdEwE6InmtZg3AczPCVFFoGnAyteAEEAu4sLQssNtnaV_DhREbuByK0mnYstPiFY3U8msz2EC8uWpLbKmA.webp")
                    div.recCityDef
                        h2 자연에서 즐기는 온천
                        h1 로토루아
            div.prevBtn
            div.nextBtn
        
