div#ad
    div.ad__component
        div.ad__img
            img(src="https://images.unsplash.com/photo-1582719478250-c89cae4dc85b?auto=format&fit=crop&q=80&w=3570&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
        div.ad__text
            h1 오클랜드 호텔 
                span 최저가!
            span 1박 90,000~
    