footer 
    div.footer-social
        ul
            li 
                a(href="")
                    i.fa-brands.fa-facebook-f
            li
                a(href="")
                    i.fa-brands.fa-youtube
            li
                a(href="")
                    i.fa-brands.fa-instagram
            li
                a(href="")
                    i.fa-brands.fa-x-twitter
    div.footer-sitemap
        ul
            li 
                span 회사소개
                    div.underline
            li    
                span 파트너십
                    div.underline
            li    
                span 이용약관
                    div.underline
    div.footer-text
        span Copyriht &copy; #{new Date().getFullYear()} kiaora Community. All Rights Reserved