header#header
    div#logo
        a(href="/") 
            img(src="./img/logo.png")
    div#nav
        ul
            li 
                a(href="/travel") 여행
                    div.underline
            li    
                a(href="/working") 워킹홀리데이
                    div.underline
            li    
                a(href="/together") 같이투어
                    div.underline
    div#user
        ul 
            li 
                a(href="/join") 회원가입
            li 
                a(href="/login") 로그인