header
    div
        h1 
            a(href="/") kia ora 
    div 
        ul 
            li 
                a(href="/travel") 여행
            li    
                a(href="/working") 워킹홀리데이
            li    
                a(href="/together") 같이투어
    div
        ul 
            li 
                a(href="/join") 회원가입
            li 
                a(href="/login") 로그인